::-webkit-input-placeholder { 
       color: #139A85;
    }
    :-moz-placeholder { 
       color: #139A85;
    }
    ::-moz-placeholder { 
       color: #139A85;
    }
    :-ms-input-placeholder { 
       color: #139A85;
    }

select {

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center transparent;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}


.BusinessHall{
	background: url(../images/textBg.png) repeat ;
	width: 86%;
    height: 6%;
    position: absolute;
    top: 22%;
    left: 7%;
    border-radius: 20px;
}

.BusinessHall p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: #139A85;
}

.invite{
	width: 50%;
    height: 7%;
    position: absolute;
    top: 30%;
    left: 25%;
}
.invite p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: #139A85;
}
.invite p>input{
	border:0 none;
	border-bottom: 1px solid #139A85;
	background: none;
	text-align: center;
	outline: 0 none!important;
	margin-bottom: 15px;
	width: 100%;
    border-radius: 0!important;
}

.combatList{
	width: 88%;
    height: 16%;
    position: absolute;
    top: 42%;
    left: 6%;
    font-size:13px;
    overflow: auto;
}
.combatList table{
    color: #139A85;
}

.Rule{
	background: url(../images/textBg.png) repeat ;
	width: 88%;
    height: 33%;
    position: absolute;
    bottom: 5%;
    left: 6%;
    overflow: auto;
}
.Rule>div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: #139A85;
    padding: 20px;
    font-size: 13px;
}

.Rule>div h5{
	font-weight: bold;
}
.Rule>div p{
	line-height: 20px;
}
.STATUS{
    border: 0;
    outline: 0 none;
}
table thead tr th{
    text-align: center;
}
table tr td{
    text-align: center;
}
.pageBTN{
    text-align: center;
     width: 88%;
    height: 36px;
    position: absolute;
    top: 58%;
    left: 6%;
}
.pageBTN button,.pageBTN span{
    background: none;
    border:0 none;
    outline: 0 none;
    color: #139A85;
}
 select{
   text-align: center;
   text-align-last: center;
}
#qcode{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.floor{
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
}
.codeImg{
    position: fixed;
    top: 30%;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.codeImg p{
    margin-top: 26px;
    color: #FFF;
}


