
.hideBuy{
    height: 6%;
    width: 100%;
    position: fixed;
    bottom: 7%;
    left: 0%;
}
.bannerImg{
   position: fixed;
   width: 100%;
   height: 100%;
   display: block;
   z-index: -100;  
}





